<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms name="LoginForm" loginUrl="Login.aspx" timeout="30"/>
    </authentication>
    <customErrors mode="Off">
      
    </customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpBinding_IService11"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar4.fulton.asu.edu/page2/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://webstrar4.fulton.asu.edu/page1/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference2.IService1" name="BasicHttpBinding_IService11"/>
    </client>
  </system.serviceModel>
</configuration>